services:
  - type: web
    name: pomodorise-backend
    runtime: docker
    region: oregon
    plan: free
    dockerfilePath: ./packages/backend/Dockerfile
    dockerContext: .

    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
      - key: DB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRES_IN
        value: 7d
      - key: FRONTEND_URL
        sync: false

      - key: CORS_ORIGIN
        sync: false

    healthCheckPath: /health

    autoDeploy: true
    branch: main
